@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'Caladea', serif;
font-family: 'Readex Pro', sans-serif;
}

.primary-color{
	color: #1D1D1D;
}
.secondary-color{
	color: rgba(29, 29, 29, 0.70);
}
.yellow-color{
	background: #FFCB45;
}
.yellow-font{
	color: #FFCB45;
}
.border-signin{
	border-radius: 3.125rem;
}
.fontsize-xxs{
	font-size: 0.5rem;
}
.footer-shadow{
	box-shadow: 0px 4px 12px 0px rgba(29, 29, 29, 0.15);
}
.divider-background{
	background: rgba(29, 29, 29, 0.50);
}
.banner-background{
	background: lightgray -46px -44px / 123.907% 125.74% no-repeat;
}
.customer-width1{
	width: 26.9375rem;
}
.customer-width2{
	width: 13rem;
}
.customer-shadow{
	box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.join-background{
   position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url("join.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
