@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'Caladea', serif;
font-family: 'Readex Pro', sans-serif;
}

.primary-color{
	color: #1D1D1D;
}
.secondary-color{
	color: rgba(29, 29, 29, 0.70);
}
.yellow-color{
	background: #FFCB45;
}
.yellow-font{
	color: #FFCB45;
}
.border-signin{
	border-radius: 3.125rem;
}
.fontsize-xxs{
	font-size: 0.5rem;
}
.footer-shadow{
	box-shadow: 0px 4px 12px 0px rgba(29, 29, 29, 0.15);
}
.divider-background{
	background: rgba(29, 29, 29, 0.50);
}
.banner-background{
	background: lightgray -46px -44px / 123.907% 125.74% no-repeat;
}
